 .Input {
    margin-left: 700px;
    display: flex;
}

.dataResult{
    margin-left: 700px;  
}

.card-img-top{
    width: 8cm;
    height: 8cm;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex: 1;
}

.data-list {
    display: grid;
    grid-template-columns: repeat(5,350px);
    grid-auto-rows: 450px;
    flex: 1;
    background-color: white;
    margin-left: 83px;
}
